@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    width: 100%;
    max-width: 134rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
}

